<html>

<head>

    <link href="{{ asset('bundles/projecthoinhabao/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/material/css/ripples.min.css') }}" rel="stylesheet"> 
    <link href="{{ asset('bundles/projecthoinhabao/material/css/material-wfont.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/css/jquery.dataTables.css') }}" rel="stylesheet">

    <title>Hội viên</title>
    <style type="text/css">
      
        ul{
            list-style: none;
        }
        .mdi-editor-mode-edit{
            font-size: 20px;
        }
        .mdi-content-add-circle-outline, .mdi-content-remove-circle-outline{
            color: blue;
        }
        .mdi-content-add-circle-outline:hover, .mdi-content-remove-circle-outline:hover{
            color: orange;
        }
    </style>

</head>

<body>
    {% include 'ProjectHoinhabaoBundle:Template:header.html.twig' %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-option">
                        <div class="toolbar">
                            <legend>Chức năng</legend>
                        </div>
                         <div class="content">
                            {% include 'ProjectHoinhabaoBundle:Hoivien:hoivien_function.html.twig' %}
                        </div>
                        <!--end content-->
                    </div>
                </div>
                <div class="col-md-9" style="border-left: 2px solid red; text-align: center;">
                    {% for flashMessage in app.session.flashbag.get('delete-multi') %}
                         <div class="alert alert-dismissable alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessagea in app.session.flashbag.get('add-giaithuong') %}
                         <div class="alert alert-dismissable alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessagea }}
                        </div>
                    {% endfor %}
                    {% for flashMessageb in app.session.flashbag.get('edit-giaithuong') %}
                         <div class="alert alert-dismissable alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessageb }}
                        </div>
                    {% endfor %}
                    <div class="danhsachgiaithuong" style="background:">
                        <h3>DANH SÁCH GIẢI THƯỞNG</h3>
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3" style="font-size:20px">
                                <i class="mdi-av-playlist-add" style="color:blue"></i>
                                <a href="{{path('project_giaithuong_add', {'tendangnhap':tendangnhap})}}">Thêm giải thưởng </a>
                            </div>
                        </div>

                        <form action="{{path('project_giaithuong_multidelete',{'tendangnhap':tendangnhap} )}}" method="post">
                        <table id="table-giaithuong" class="table table-striped table-bordered" cellspacing="0" width="100%">
                             
                            <thead>
                                <tr>
                                    <th>Mã Giải Thưởng</th>
                                    <th>Tên Giải Thưởng</th>
                                    <th>Ngày Đạt Giải</th>
                                    <th name="delete">
                                       <button type='submit'  name='deletetacpham' class="btn btn-primary delete-multi-tacpham">
                                            <i class="mdi-action-delete" style="font-size: 20px; padding-left: 3px; padding-right: 3px;"></i>
                                        
                                        </button>
                                       
                                    </th>
                                    <th>
                                        Sửa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gt in i_giaithuong %}
                                    <tr>
                                        <td>
                                            {{gt.MaGiaiThuong}}
                                        </td>
                                        <td>
                                            {{gt.TenGiaiThuong}}
                                        </td>
                                        <td>
                                            {{gt.NgayDatGiai|date('Y-m-d')}}
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type='checkbox' name='xoa[]' value='{{gt.MaGiaiThuong}}'>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="{{path('project_giaithuong_edit',{'tendangnhap':tendangnhap, 'magiaithuong': gt.MaGiaiThuong})}}">
                                                <i class="mdi-editor-mode-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                            
                        </table>
                        <button type='submit'  name='deletehoivien' class="btn btn-primary select-all">
                           Xóa Toàn Bộ
                                        
                        </button>
                        </form>   
                    </div>
                           
                 
            </div>
        </div>
    </div>
    
    <script src="{{ asset('bundles/projecthoinhabao/js/jquery-1.11.2.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/js/bootstrap.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/material/js/ripples.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/material/js/material.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            
            $('#table-giaithuong').DataTable();
        } );

        $('.select-all').click(function(){
            $('input[name="xoa[]"]').attr('checked', true);
        });
        $('form').submit(function(){
            var atLeastOneIsChecked = $('input[name="xoa[]"]:checked').length;
            if(atLeastOneIsChecked == 0)
                alert('Chưa có giải thưởng nào được chọn.');
            else{
                if(confirm("Bạn thật sự muốn xóa giải thưởng này?")){

                }else{
                    $('input[name="xoa[]"]').attr('checked', false);
                }
            }
        });
        $('.mdi-content-add-circle-outline').click(function(){
                $(this).hide();
                $(this).parent().find('.mdi-content-remove-circle-outline').show();
                var thisid = $(this).attr('class').split(' ')[1];
                $('#'+ thisid).show();
            });
            $('.mdi-content-remove-circle-outline').click(function(){
                $(this).hide();
                $(this).parent().find('.mdi-content-add-circle-outline').show();
                var thisid = $(this).attr('class').split(' ')[1];
                $('#'+ thisid).hide();
            });
    </script>

</body>

</html>















