<html>

<head>

    <link href="{{ asset('bundles/projecthoinhabao/css/bootstrap.min.css') }}" rel="stylesheet">
   	<link href="{{ asset('bundles/projecthoinhabao/material/css/ripples.min.css') }}" rel="stylesheet"> 
    <link href="{{ asset('bundles/projecthoinhabao/material/css/material-wfont.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/css/style.css') }}" rel="stylesheet">
    <title>Giải thưởng</title>
    <style type="text/css">
        #addhoivien-button{
            font-size: 18px;
        }
        ul{
              list-style: none;
        }
        .mdi-content-add-circle-outline, .mdi-content-remove-circle-outline{
            color: blue;
        }
        .mdi-content-add-circle-outline:hover, .mdi-content-remove-circle-outline:hover{
            color: orange;
        }
    </style>

</head>

<body>
    {% include 'ProjectHoinhabaoBundle:Template:header.html.twig' %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-option">
                        <div class="toolbar">
                            <legend>Chức năng</legend>
                        </div>
                         <div class="content">
                           {% include 'ProjectHoinhabaoBundle:Hoivien:hoivien_function.html.twig' %}
                        </div>
                        <!--end content-->
                    </div>
                </div>
                <div class="col-md-9" style="border-left: 2px solid red;">
                    
                   
                        {{ form_start(form) }}
    					<fieldset>
                            {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                            {% if currentPath == path('project_giaithuong_add',{'tendangnhap':tendangnhap})  %}
                                <legend>Thêm Giải Thưởng</legend>
                            {% else %}
                                <legend>Sửa Thông Tin Giải Thưởng</legend>
                            {% endif %}
                                <div class="form-group">
                                    {{ form_label(form.tengiaithuong, 'Tên Giải Thưởng', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                                    <div class="col-lg-10">
                                        {{ form_widget(form.tengiaithuong)}}
                                    </div>
                                </div>
                              
                                
                                <div class="form-group">
                                    {{ form_label(form.ngaydatgiai, 'Ngày Đạt Giải', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                                    <div class="col-lg-10">
                                         {{ form_widget(form.ngaydatgiai)}}
                                    </div>
                                </div>
                                       
                               <div class="form-group">
                                    {{ form_label(form.mota, 'Mô Tả', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                                    <div class="col-lg-10">
                                         <span class="help-block">Mô tả tổng quan về giải thưởng của bạn.</span>
                                        {{ form_widget(form.mota)}}
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <div class="col-lg-10"></div>
                                    <div class="col-lg-2">
                                        {{form_widget(form.add)}}
                                    </div>
                                </div>
                        </fieldset>
                        {{ form_end(form) }}
                 
            </div>
        </div>
    </div>
 	
    <script src="{{ asset('bundles/projecthoinhabao/js/jquery-1.11.2.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/js/bootstrap.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/material/js/ripples.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/material/js/material.min.js') }}"></script>
    <script>
        $('.mdi-content-add-circle-outline').click(function(){
                $(this).hide();
                $(this).parent().find('.mdi-content-remove-circle-outline').show();
                var thisid = $(this).attr('class').split(' ')[1];
                $('#'+ thisid).show();
            });
            $('.mdi-content-remove-circle-outline').click(function(){
                $(this).hide();
                $(this).parent().find('.mdi-content-add-circle-outline').show();
                var thisid = $(this).attr('class').split(' ')[1];
                $('#'+ thisid).hide();
            });
    </script>
</body>

</html>
