<html>

<head>

    <link href="{{ asset('bundles/projecthoinhabao/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/material/css/ripples.min.css') }}" rel="stylesheet"> 
    <link href="{{ asset('bundles/projecthoinhabao/material/css/material-wfont.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/projecthoinhabao/css/jquery.dataTables.css') }}" rel="stylesheet">

    <title>Hội viên</title>
    <style type="text/css">
      
        ul{
            list-style: none;
        }
    </style>

</head>

<body>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{path('project_hoinhabao_homepage')}}">Trang Chủ</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <p style="margin: 0px; padding: 0px;">
                            <img class="row-avatar" src="http://lorempixel.com/56/56/people/6" alt="icon">{{tendangnhap}}
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                      
                        <li><a href="{{path('project_hoinhabao_edit', {'tendangnhap':tendangnhap})}}">Sửa thông tin cá nhân</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Thoát</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-option">
                        <div class="toolbar">
                            <legend>Chức năng</legend>
                        </div>
                        <div class="content">
                            <ul>
                                <li>
                                    <i class="mdi-av-playlist-add"></i>
                                    <a href="{{path('project_giaithuong_add', {'tendangnhap':tendangnhap})}}">Thêm giải thưởng</a>
                                </li>
                                <li>
                                    <i class="mdi-av-playlist-add"></i>
                                    <a href="{{path('project_tacpham_add', {'tendangnhap':tendangnhap})}}">Thêm tác phẩm</a>
                                </li>
                                <li>
                                    <i class="mdi-action-list"></i>
                                    <a href="{{path('project_tacpham', {'tendangnhap':tendangnhap})}}">Danh sách tác phẩm</a>
                                </li>
                                <li>
                                    <i class="mdi-action-list"></i>
                                    <a href="{{path('project_giaithuong', {'tendangnhap':tendangnhap})}}">Danh sách giải thưởng</a>
                                </li>
                                <li>
                                    <i class="mdi-image-filter-none"></i>
                                    <a href="{{path('project_hoinhabao_show',{'tendangnhap':tendangnhap})}}">Thông tin hội viên</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="border-left: 2px solid red; text-align: center;">
                    <div class="danhsachtacpham">
                        <h3>DANH SÁCH TÁC PHẨM</h3>
                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3" style="font-size:20px">
                                <i class="mdi-av-playlist-add" style="color:blue"></i>
                                <a href="{{path('project_tacpham_add', {'tendangnhap':tendangnhap})}}">Thêm tác phẩm </a>
                            </div>
                        </div>

                        <table id="table-tacpham" class="table table-striped table-bordered" cellspacing="0" width="100%">
                             <form action="{{path('project_tacpham_multidelete',{'tendangnhap':tendangnhap} )}}" method="post">
                            <thead>
                                <tr>
                                    <th>Mã Tác Phẩm</th>
                                    <th>Tên Tác Phẩm</th>
                                    <th>Thể Loại</th>
                                    <th>Chi Tiết</th>
                                    <th>
                                        <button type='submit'  name='deletetacpham' class="btn btn-primary">
                                            <i class="mdi-action-delete" style="font-size: 20px; padding-left: 3px; padding-right: 3px;"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                               {% for tp in tacpham %}
                                    <tr>
                                        <td><a href="{{path('project_tacpham_show', {'tendangnhap':tendangnhap, 'matacpham':tp.MaTacPham})}}">{{tp.MaTacPham}}</a></td>
                                        <td>{{tp.TenTacPham}}</td>
                                        <td>{{tp.MaTheLoai}}</td>
                                        <td><a href='{{tp.LienKet}}'>{{tp.LienKet}}</a></td>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type='checkbox' name='xoa[]' value='{{tp.MaTacPham}}'>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                            </form>
                        </table>
                    </div>   
                    
                 
            </div>
        </div>
    </div>
    
    <script src="{{ asset('bundles/projecthoinhabao/js/jquery-1.11.2.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/js/bootstrap.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/material/js/ripples.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/material/js/material.min.js') }}"></script>
    <script src="{{asset('bundles/projecthoinhabao/js/jquery.dataTables.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#table-tacpham').DataTable();

        } );
    </script>

</body>

</html>















